body{
    max-width: 600px;
    margin:auto;

    background-color: #eca1a6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    border: 2px solid rebeccapurple;
    height: 300px;
    width: 300px;
    border-radius: 180px;
}

h1,h2,h3{
    border: 2px solid blue;
    color:white;
    font-size: 400;
}

ul{
    border: 4px solid black;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

ol {
    border: 3px solid white;
    font-size: large;
    font-style: oblique;
    
}

li{
    border: 4px solid rgb(233, 251, 152);
}