body{
    max-width: 600px;
    margin: auto;
    background-color: #e6e2d3;
    color: #b9936c;
}


p {
    font-family: 'Times New Roman', Times, serif;
    color: #3e4444;
    font-size: larger;
}


h1 {
    color: #3e4444;
    font-weight: bold;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 180px;
}

h2 {
    color: #3e4444;
}

h3 {
    color: #3e4444;
}

ul {
    font-style: italic ;
    font-size: large;
    font-weight: bolder;
    
}

ol {
    font-style: italic ;
    font-size: large;
    font-weight: bolder;
}